<h1>Id: {{this.data.id}}</h1>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile >
        <h3>Nombre Comercial: </h3>
        <p>{{this.data.nombre_comercial}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Razon Social: </h3>
        <p>{{this.data.razon_social}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Telefono: </h3>
        <p>{{this.data.telefono}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Correo: </h3>
        <p>{{this.data.correo}}</p>
    </mat-grid-tile>
  </mat-grid-list>
